.updateModalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.75);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 105;


}

.updateModalContainer {
    min-width: 80%;
    min-height: 50vh;
    max-height: 90vh;
    margin-inline: auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}

.updateModalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.updateModalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.updateModalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}